extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 David Mulholland

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            |I love technology,web design and developement. I love creating web sites that look amazing and incorporate all the latest technology. I specialise in Javascript and PHP, the most popular languages used on the web. I have experience using all types of databases such as SQL and mongo db and setting up large scale websites to sell or market products. Get in touch and see how I can help your business.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML, CSS and SASS
          li UX design
          li Javascript, Jquery
          li PHP, Wordpress and Laravel
          li Magento e-commerce sites
          li Node and Express
          li React
          li Databases-SQL and mongo DB
          li Building restAPIs
          li AWS
        h6 Contact Info

        ul
          li 07790145535
          li davidm.webdeveloper@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/david-mulholland-07b86319a/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/Webdev-DavidM', target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/footballblubber', target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  